*{
    font-family: 'LatoWeb', sans-serif;
    color: #2b3e50;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
}

.my-active {
    border-bottom: 2px solid #ff9f17; !important;
}

h1 {
    text-transform: uppercase;
}

.our-sweaters .items .item ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myCarousel {
    margin-bottom: 0;
}

.carousel-inner .carousel-item .container .carousel-caption .text-view {
    display: inline-block;
    font-size: 34px;
    font-weight: bold;
    font-family: "Times New Roman", monospace;
    letter-spacing: 1px;
    background: rgb(167, 43, 31);
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 0;
}

.carousel-inner .carousel-item .carousel-caption p.my-text {
    text-transform: none;
    color: white;
    background: rgb(167, 43, 31);
    display: inline-block;
    padding: 10px;
    margin-top: 0;
}

.our-sweaters {
    padding: 50px 0;
}

.our-sweaters .items{
    text-align: center;
}

.our-sweaters h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.our-sweaters .items .item {
    margin-bottom: 30px;
}

.our-sweaters .items .item img{
    width: 250px;
    border-radius: 50%;
}

.our-sweaters .items .item h4{
    font-weight: bolder;
    margin: 15px 0;
}

.fotorama .fotorama__arr--next{
    border: 15px solid transparent;
    border-left: 15px solid #fbfbfb;
}

.fotorama .fotorama__arr--prev {
    border: 15px solid transparent;
    border-right: 15px solid #fbfbfb;
}

.collections {
    padding: 100px 0;
    margin: 0 0 50px;
    text-align: center;
    opacity: 100%;
}

.collections h1{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 55px;
    background		: rgba(218, 218, 218, 0.2);
    padding			: 10px;
}

.collections.women-collections{
    background: #c7b39b url("../images/woman.jpg") center;
}

.collections.man-collections{
    background: #c7b39b url("../images/man.jpg") center;
}

.collections.kind-collections{
    background: #c7b39b url("../images/kind.jpg") center;
}

.price-div {
    padding: 5px 10px;
    text-align: right;
    width: auto;
    background: #de0000;
}

.fotorama {
    position: relative;
    margin-bottom: 20px;
}

.price-div {
    position: absolute;
    z-index: 100;
    top: -15px;
    right: 0;
    color: white;
}

@media only screen and (max-width: 990px) {
    .price-div {
        color: white;
        font-size: 34px;
    }

    .line {
        display: none;
    }
}

.order {
    text-align: center;
    margin-bottom: 50px;
    padding: 50px 0;
    background: rgba(185, 185, 185, 0.32);
}

.order h1 {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bolder;
}

.order p {
    margin: 10px 0;
}

.order .items-order{
    position: relative;
}

.order .item-order {
    margin-bottom: 30px;
}

.order .item-order i{
    width: 130px;
    height: 130px;
    font-size: 50px;
    border: 2px solid #2a3e50;
    border-radius: 50%;
    padding-top: 35px;
    background: rgb(224, 224, 224);
    z-index: 2;
}

#form-order {
    padding-bottom: 50px;
    border: 2px solid #ff9f17;
    text-align: center;
}

#trand {
    text-align: center;
}

#form-order .btn {
    background: #ff9f17;
    border-color: #ff9f17;
}

.line{
    width: 80%;
    height: 0;
    border: 2px dashed #2a3e50;
    position: absolute;
    top: 60px;
    right: 110px;
    z-index: -100;
}

footer {
    background: #2a3e50;
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
}

.footer i {
    color: white; !important;
    font-size: 34px;
}

.footer p {
    color: white; !important;
}

.alert {
    position: absolute; !important;
    padding: 50px;
    z-index: 9222222;
    top: 30%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.success-order {
    text-align: center;
}

.success-order i{
    font-size: 100px;
    color: green;
}

.success-order h1, .success-order h4, .success-order h2 {
    margin: 20px 0;
}