<table class="table">
    <thead>
    <tr>
        <th scope="col">Имя</th>
        <th scope="col">Телефон</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ name }}</td>
            <td>{{ phone }}</td>
        </tr>
    </tbody>
</table>