<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Свитер с оленями в Бишкеке{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('gallery/fotorama.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    {% endblock %}
</head>
<body>
    {% block body %}
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark justify-content-lg-end">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="{{ asset('images/logodeer.png') }}" alt="logo" width="80px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" data-item="1">
                            <a class="nav-link" href="#">Почему мы?</a>
                        </li>
                        <li class="nav-item" data-item="2">
                            <a class="nav-link" href="#">Женские</a>
                        </li>
                        <li class="nav-item" data-item="3">
                            <a class="nav-link" href="#">Мужские</a>
                        </li>
                        <li class="nav-item" data-item="4">
                            <a class="nav-link" href="#">Детские</a>
                        </li>
                        <li class="nav-item" data-item="5">
                            <a class="nav-link" href="#">Как заказать?</a>
                        </li>
                        <li class="nav-item" data-item="6">
                            <a class="nav-link" href="#">Оставить заявку</a>
                        </li>
                        <li class="nav-item" data-item="7">
                            <a class="nav-link" href="#">Тренд 2018-2019</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main role="main">
            <div class="container">
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="first-slide" src="{{ asset('images/slide1.jpg') }}" alt="First slide">
                        <div class="container">
                            <div class="carousel-caption text-left">
                                <h1 class="text-view">СВИТЕРА С ОЛЕНЯМИ</h1><br>
                                <p class="my-text">Незаменимая теплая вещь и отличный модный подарок!</p><br>
                                <p><a class="btn btn-lg btn-info my-btn" data-item="2" href="#" role="button">Перейти в каталог</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="second-slide" src="{{ asset('images/slide2.jpg') }}" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <p class="my-text">Эксклюзивные, праздничные свитера с оленями <br/>из натуральной шерсти мериноса в Бишкеке!</p><br>
                                <p><a class="btn btn-lg btn-info my-btn" data-item="2" href="#" role="button">Перейти в каталог</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="third-slide" src="{{ asset('images/slide3.jpg') }}" alt="Third slide">
                        <div class="container">
                            <div class="carousel-caption text-right">
                                <h1 class="text-view">Тренд зимы 2018-2019!</h1><br>
                                <p class="my-text">Вы покупаете не вещь, а атмосферу праздника!</p><br>
                                <p><a class="btn btn-lg btn-info my-btn" data-item="2" href="#" role="button">Перейти в каталог</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="our-sweaters">
                <div class="container">
                    <h1>Особенности наших свитеров:</h1>
                    <div class="row items">
                        <div class="col-sm-12 col-lg-4">
                            <div class="item">
                                <img src="{{ asset('images/item1.png') }}" alt="item1">
                                <h4>Высокое качество</h4>
                                <ul>
                                    <li>Лучшая цена!</li>
                                    <li>Мягкие и не колются.</li>
                                    <li>Оригинальный дизайн.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <div class="item">
                                <img src="{{ asset('images/item2.png') }}" alt="item2">
                                <h4>Натуральная шерсть</h4>
                                <ul>
                                    <li>Изготовлены из натуральной шерсти австралийского мериноса.</li>
                                    <li>Высокое качество шитья, ручная работа.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <div class="item">
                                <img src="{{ asset('images/item3.png') }}" alt="item3">
                                <h4>Узор с оленями</h4>
                                <ul>
                                    <li>Создает праздничное новогоднее настроение.</li>
                                    <li>В подарок прилагается красивая упаковка.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog">
                <div class="collections women-collections">
                    <div class="container">
                        <h1>Женская коллекция</h1>
                    </div>
                </div>
                <div class="container" id="woman-block">
                    {#<div class="price-div">#}
                        {#<p>1200 сом</p>#}
                    {#</div>#}
                    <div class="row">
                        <div class="col-sm col-lg-3">
                            <div class="fotorama" data-price="1990">
                                <img src="{{ asset('images/sweaters/sweater1.jpg') }}" data-caption="4554/1" data-price="1990">
                                <img src="{{ asset('images/sweaters/sweater2.jpg') }}" data-caption="4554/1" data-price="1990">
                                <img src="{{ asset('images/sweaters/sweater3.jpg') }}" data-caption="4554/1" data-price="1990">
                            </div>
                        </div>
                        <div class="col-sm col-lg-3">
                            <div class="fotorama" data-price="2250">
                                <img src="{{ asset('images/sweaters/sweater6.jpg') }}" data-caption="4565" data-price="2250">
                                <img src="{{ asset('images/sweaters/sweater7.jpg') }}" data-caption="4565" data-price="2250">
                                <img src="{{ asset('images/sweaters/sweater8.jpg') }}" data-caption="4565" data-price="2250">
                            </div>
                        </div>
                        <div class="col-sm col-lg-3">
                            <div class="fotorama" data-price="2600">
                                <img src="{{ asset('images/sweaters/sweater9.jpg') }}" data-caption="4553" data-price="2600">
                                <img src="{{ asset('images/sweaters/sweater10.jpg') }}" data-caption="4553" data-price="2600">
                                <img src="{{ asset('images/sweaters/sweater11.jpg') }}" data-caption="4553" data-price="2600">
                            </div>
                        </div>
                        <div class="col-sm col-lg-3">
                            <div class="fotorama" data-price="3000">
                                <img src="{{ asset('images/sweaters/sweater12.jpg') }}" data-caption="4567" data-price="2990">
                                <img src="{{ asset('images/sweaters/sweater13.jpg') }}" data-caption="4567" data-price="2990">
                                <img src="{{ asset('images/sweaters/sweater14.jpg') }}" data-caption="4567" data-price="2990">
                            </div>
                        </div>
                        <div class="col-sm col-lg-3">
                            <div class="fotorama" data-price="2700">
                                <img src="{{ asset('images/sweaters/sweater15.jpg') }}" data-caption="4480" data-price="2690">
                                <img src="{{ asset('images/sweaters/sweater16.jpg') }}" data-caption="4480" data-price="2690">
                                <img src="{{ asset('images/sweaters/sweater17.jpg') }}" data-caption="4480" data-price="2690">
                            </div>
                        </div>
                        <div class="col-sm col-lg-3">
                            <div class="fotorama" data-price="2090">
                                <img src="{{ asset('images/sweaters/sweater18.jpg') }}" data-caption="4486" data-price="2090">
                                <img src="{{ asset('images/sweaters/sweater19.jpg') }}" data-caption="4486" data-price="2090">
                                <img src="{{ asset('images/sweaters/sweater20.jpg') }}" data-caption="4486" data-price="2090">
                            </div>
                        </div>
                        <div class="col-sm col-lg-3">
                            <div class="fotorama" data-price="1990">
                                <img src="{{ asset('images/sweaters/sweater21.jpg') }}" data-caption="4481" data-price="1990">
                                <img src="{{ asset('images/sweaters/sweater22.jpg') }}" data-caption="4481" data-price="1990">
                                <img src="{{ asset('images/sweaters/sweater23.jpg') }}" data-caption="4481" data-price="1990">
                            </div>
                        </div>
                        <div class="col-sm col-lg-3">
                            <div class="fotorama" data-price="2300">
                                <img src="{{ asset('images/sweaters/sweater48.jpg') }}" data-caption="4499/1" data-price="2290">
                                <img src="{{ asset('images/sweaters/sweater49.jpg') }}" data-caption="4499/1" data-price="2290">
                                <img src="{{ asset('images/sweaters/sweater50.jpg') }}" data-caption="4499/1" data-price="2290">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="collections man-collections">
                    <div class="container">
                        <h1>Мужская коллекция</h1>
                    </div>
                </div>
                <div class="container" id="man-block">
                    <div class="row">
                        <div class="col-sm col-lg-3">
                            <div class="fotorama" data-price="2300">
                                <img src="{{ asset('images/sweaters/sweater4.jpg') }}" data-caption="12014" data-price="2990">
                                <img src="{{ asset('images/sweaters/sweater5.jpg') }}" data-caption="12014" data-price="2990">
                            </div>
                        </div>
                        <div class="col-sm col-lg-3">
                            <div class="fotorama" data-price="2690">
                                <img src="{{ asset('images/sweaters/sweater24.jpg') }}" data-caption="12064/1" data-price="2690">
                                <img src="{{ asset('images/sweaters/sweater25.jpg') }}" data-caption="12064/1" data-price="2690">
                                <img src="{{ asset('images/sweaters/sweater26.jpg') }}" data-caption="12064/1" data-price="2690">
                            </div>
                        </div>
                        <div class="col-sm col-lg-3">
                            <div class="fotorama" data-price="2290">
                                <img src="{{ asset('images/sweaters/sweater27.jpg') }}" data-caption="12078" data-price="2290">
                                <img src="{{ asset('images/sweaters/sweater28.jpg') }}" data-caption="12078" data-price="2290">
                                <img src="{{ asset('images/sweaters/sweater29.jpg') }}" data-caption="12078" data-price="2290">
                            </div>
                        </div>
                        <div class="col-sm col-lg-3">
                            <div class="fotorama" data-price="3090">
                                <img src="{{ asset('images/sweaters/sweater30.jpg') }}" data-caption="12062" data-price="3090">
                                <img src="{{ asset('images/sweaters/sweater31.jpg') }}" data-caption="12062" data-price="3090">
                                <img src="{{ asset('images/sweaters/sweater32.jpg') }}" data-caption="12062" data-price="3090">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="collections kind-collections">
                    <div class="container">
                        <h1>Детская коллекция</h1>
                    </div>
                </div>
                <div class="container" id="kind-block">
                    <div class="row">
                        <div class="col-sm col-lg-3">
                            <div class="fotorama" data-price="1380">
                                <img src="{{ asset('images/sweaters/sweater33.jpg') }}" data-caption="6172" data-price="1380">
                                <img src="{{ asset('images/sweaters/sweater34.jpg') }}" data-caption="6172" data-price="1380">
                            </div>
                        </div>
                        <div class="col-sm col-lg-3">
                            <div class="fotorama" data-price="1380">
                                <img src="{{ asset('images/sweaters/sweater40.jpg') }}" data-caption="6539" data-price="1380">
                                <img src="{{ asset('images/sweaters/sweater37.jpg') }}" data-caption="6539" data-price="1380">
                                <img src="{{ asset('images/sweaters/sweater41.jpg') }}" data-caption="6539" data-price="1380">
                                <img src="{{ asset('images/sweaters/sweater38.jpg') }}" data-caption="6539" data-price="1380">
                                <img src="{{ asset('images/sweaters/sweater39.jpg') }}" data-caption="6539" data-price="1380">
                            </div>
                        </div>
                        <div class="col-sm col-lg-3">
                            <div class="fotorama" data-price="1600">
                                <img src="{{ asset('images/sweaters/sweater45.jpg') }}" data-caption="607" data-price="1590">
                                <img src="{{ asset('images/sweaters/sweater46.jpg') }}" data-caption="607" data-price="1590">
                                <img src="{{ asset('images/sweaters/sweater47.jpg') }}" data-caption="607" data-price="1590">
                            </div>
                        </div>
                        <div class="col-sm col-lg-3">
                            <div class="fotorama" data-price="2190">
                                <img src="{{ asset('images/sweaters/sweater44.jpg') }}" data-caption="10035" data-price="2190">
                                <img src="{{ asset('images/sweaters/sweater43.jpg') }}" data-caption="10035" data-price="2190">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order" id="do-order">
                <div class="container">
                    <h1>Как сделать заказ?</h1>
                    <div class="row items-order">
                        <div class="col-sm-12 col-lg-3">
                            <div class="item-order">
                                <i class="fas fa-comments"></i>
                                <p>Вы оставляете заявку на нашем сайте</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="item-order">
                                <i class="fas fa-phone"></i>
                                <p>Наш менеджер связывается с Вами</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="item-order">
                                <i class="fas fa-box"></i>
                                <p>Мы доставим Ваш заказ. </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            <div class="item-order">
                                <i class="fas fa-money-bill"></i>
                                <p>Оплачиваете заказ после получения</p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="form-order">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-4" id="form-order">
                            <h2>Оставить заявку</h2>
                            {{ form(form) }}
                        </div>
                        <div class="col-sm-12 col-lg-8" id="trand">
                            <h2>Тренд 2018-2019</h2>
                            <div class="row">
                                <div class="col-sm-12 col-lg-4">
                                    <div class="card-group">
                                        <div class="card">
                                            <img class="card-img-top" src="{{ asset('images/trand1.jpg') }}" alt="Card image cap">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-4">
                                    <div class="card-group">
                                        <div class="card">
                                            <img class="card-img-top" src="{{ asset('images/trand2.jpg') }}" alt="Card image cap">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-4">
                                    <div class="card-group">
                                        <div class="card">
                                            <img class="card-img-top" src="{{ asset('images/trand3.jpg') }}" alt="Card image cap">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <div>
                        <a href="https://www.instagram.com/sweaters.kg/"><i class="fab fa-instagram"></i></a>
                    </div>
                    <p>© All right Reversed.</p>
                </div>
            </footer>
        </main>

    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/holder.min.js') }}"></script>
        <script src="{{ asset('gallery/fotorama.js') }}"></script>
        <script src="{{ asset('gallery/my-gallery.js') }}"></script>

        <script type="text/javascript">

            $(".nav-item, .my-btn").click(function() {
                let data_item = $(this).data('item');
                $('html,body').animate({
                        scrollTop: redirectToBlock(data_item)
                    },
                    1000
                );
            });

            $('.nav-item').on('click', function () {
                $(this).addClass('my-active').siblings().removeClass('my-active');
            });

            let fotorama = $('.fotorama');
            fotorama.each(function () {
                let _this = $(this);
                let price = _this.data('price');
                let elem = $('<div class="price-div">'+ price +' сом</div>');
                _this.parent().append(elem);
            });


            let redirectToBlock = function(data_item){
                const sweaters_pos = $(".our-sweaters").offset().top - 60;
                const woman_block_pos = $("#woman-block").offset().top - 130;
                const man_block_pos = $("#man-block").offset().top - 130;
                const kind_block_pos = $("#kind-block").offset().top - 130;
                const do_order_block_pos = $("#do-order").offset().top - 130;
                const form_order_block_pos = $("#form-order").offset().top - 130;
                const trand_block_pos = $("#trand").offset().top - 130;
                let pos = null;
                switch (data_item) {
                    case 1:
                        pos = sweaters_pos;
                        break;
                    case 2:
                        pos = woman_block_pos;
                        break;
                    case 3:
                        pos = man_block_pos;
                        break;
                    case 4:
                        pos = kind_block_pos;
                        break;
                    case 5:
                        pos = do_order_block_pos;
                        break;
                    case 6:
                        pos = form_order_block_pos;
                        break;
                    case 7:
                        pos = trand_block_pos;
                        break;
                }
                return pos;
            }
        </script>
    {% endblock %}
</body>
</html>