{% extends 'index.html.twig' %}
{% block body %}
    <div class="container">
        <div class="success-order">
            <i class="fas fa-check-circle"></i>

            <h1>ПОЗДРАВЛЯЕМ! ВАШ ЗАКАЗ ПРИНЯТ!</h1>
            <h4>В ближайшее время с вами свяжется оператор для подтверждения заказа. Пожалуйста, включите ваш контактный телефон.</h4>

            <h2>Спасибо что выбрали нас!</h2>
            <a href="{{ path('index_action') }}" class="btn btn-lg btn-outline-success btn-block">Вернуться на сайт</a>
        </div>
    </div>
{% endblock %}

